<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper  namespace="dao.DepartmentMapper">
    <!--根据主键查找部门信息-->
    <select id="selectByPrimaryKey" resultType="model.Department" parameterType="java.lang.Integer" >
        select * from department
        where id = #{id}
    </select>

    <!--获得所有部门信息-->
    <select id="selectAll" resultType="model.Department" >
        select * from department;
    </select>

    <select id="selectByLevel" resultType="model.Department"  parameterType="model.Department">
        select * from department where level like #{level};
    </select>
    <update id="update" parameterType="model.Department">
        update department set name=#{name},seq=#{seq},level=#{level},pid=#{pid}
        where  id=#{id}
    </update>

    <!--插入新的部门  动态sql实现-->
    <insert id="insertSelective" parameterType="model.Department" keyProperty="id" useGeneratedKeys="true">
insert into department
<trim prefix="(" suffix=")" suffixOverrides="," >
    <if test="id != null" >
        id,
    </if>
    <if test="name != null" >
        name,
    </if>
    <if test="pId != null" >
        p_id,
    </if>
    <if test="level != null" >
        level,
    </if>
    <if test="seq != null" >
        seq,
    </if>
    <if test="operator != null" >
        operator,
    </if>
    <if test="operatorTime != null" >
        operator_time,
    </if>
    <if test="operatorIp != null" >
        operator_ip,
    </if>
</trim>
<trim prefix="values (" suffix=")" suffixOverrides="," >
    <if test="id != null" >
        #{id,jdbcType=INTEGER},
    </if>
    <if test="name != null" >
        #{name,jdbcType=VARCHAR},
    </if>
    <if test="pId != null" >
        #{pId,jdbcType=INTEGER},
    </if>
    <if test="level != null" >
        #{level,jdbcType=VARCHAR},
    </if>
    <if test="seq != null" >
        #{seq,jdbcType=INTEGER},
    </if>
    <if test="operator != null" >
        #{operator,jdbcType=VARCHAR},
    </if>
    <if test="operatorTime != null" >
        #{operatorTime,jdbcType=TIMESTAMP},
    </if>
    <if test="operatorIp != null" >
        #{operatorIp,jdbcType=VARCHAR},
    </if>
</trim>
</insert>
    <insert id="insert"  parameterType="model.Department">
    insert into department (id,name, seq,operator, operator_time,operator_ip )
    values ( default ,#{name}, #{seq},#{operator}, #{operatorTime}, #{operatorIp})
    </insert>
</mapper>